.App {
  text-align: center;
}

.calc-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cell {
  border: 1px inset #d1d1d1;
  padding: 1.5rem;
  font-size: 2rem;
}

.calc-result {
  grid-column: 1/-1;
  background-color: #858694;
  color: white;
  font-size: 4rem;
  text-align: right;
}

.calc-ac,
.calc-plus-minus,
.calc-mode,
.calc-seven,
.calc-eight,
.calc-nine,
.calc-four,
.calc-five,
.calc-six,
.calc-one,
.calc-two,
.calc-three,
.calc-zero,
.calc-dot {
  background-color: #e0e0e0;
}

.calc-zero {
  grid-column: 1/3;
}

.calc-division,
.calc-multiply,
.calc-minus,
.calc-plus,
.calc-equal {
  background-color: #f5913e;
}
